@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
.topmargin{
    margin-top: 100px
}


.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h2 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
 color: #d26301;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
.space{
    height: 20px
}
.my-btn{
     background-image: linear-gradient(to bottom,#ec6607 0,#ec6630 100%);
     border-color: #ec6630;
}
.my-btn:hover {
    background-color: #ec6630;
    background-position: 0 -15px;
}
.my-btn:focus {
    background-color: #ec6630;
    background-position: 0 -15px;
}
.form-control:focus {
    border-color: #f19757;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 133, 86, 0.6);
}